<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief story of Ippyfil</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/ines_filipe_ippyfil.png" alt="us">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">As nossas origens</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While Filipe began brewin in Amsterdam, by leraning from books, friends and head breweres from the best breweries int town, Inês, Biological Engineer Student began brewing at Clube dos Cervejeiros do IST, a student organization, and developed her master thesis in the field Later, they joined and began brewing together in Portugal.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/crowdfunding_i.svg" alt="crowdFunding">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">The CrowdFunding Campaign</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Everything stared with the launch of a crowdfunding campaign with the goal to build a nano brewery equiped with a sofisticated electronically controlled 100 L HERMS. Exceeding every expectations, we outdo our goal begining this project.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/3Garrafas.png" alt="regulars">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Ready to produce</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ippyfil got ready to brew. The renovations process of the space was challenging making them woodworkers, electricians, painters, bricklayer, interior designers... a process that took some months. Now Ippyfil is exactly what was dream about, a brand representing hte dreams of both and the capacity of turning a empty space in a place full of life, beer and new challenges.</p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{site.baseurl}}/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A ippyfil ficou pronta a produzir. A reconversão do espaço foi desafiante uma vez que os levou a serem carpinteiros, eletricistas, pintores, pedreiros, design de interiores, … um processo que durou alguns meses. A Ippyfil é exatamente o que se pretendeu, uma marca que representa os sonhos dos dois e a capacidade de tornar um espaço vazio num espaço cheio de vida, de companheirismo e de novos desafios.</p>
                                </div>
                            </div>
                        </li>
                        -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
