<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">As nossas origens</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">O Filipe começou a produzir cerveja em amesterdão, aprendedo através de livros, amigos com experiência e cervejeiros das melhores cervejarias do país. A Inês, estudante de Engenharia Biológica, começou a produzir cerveja no Clube de Cervejeiros do IST, uma organização de estudantes e a sua tese de mestrado consistiu na otimização deste processo. Mais tarde, juntaram-se e começaram a produzir juntos em Portugal. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">A Campanha de Crowdfunding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tudo começou com o lançamento de uma campanha de crowdfundig para criar uma mini-fábrica de cerveja, composta por um sistema HERMS de 100L. Superando as expectativas, com a ajuda de muitas pessoas, ultrapassámos o nosso objectivo, dando início a este projecto.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A ippyfil ficou pronta a produzir. A reconversão do espaço foi desafiante uma vez que os levou a serem carpinteiros, eletricistas, pintores, pedreiros, design de interiores, … um processo que durou alguns meses. A Ippyfil é exatamente o que se pretendeu, uma marca que representa os sonhos dos dois e a capacidade de tornar um espaço vazio num espaço cheio de vida, de companheirismo e de novos desafios.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
