<!-- Portfolio Grid Section -->
    <section id="portfolio" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> As Nossas Cervejas </h2>
                    <h3 class="section-subheading text-muted"> Aqui encontras as cervejas do nosso core range. Uma <i>APA</i>, uma <i>IPA</i> e uma <i>Coffee Stout</i> que são as nossas receitas tried and tested. São as receitas às quais chegámos após varios testes e que temos a certeza que vos vão matar a sede. As nossas <i>Lab Edition</i> são edições limitadas e experimentais que poderás encontrar na nossa loja online.</h3>
                </div>
            </div>
            <div class="row">
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts %}
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{site.baseurl}}/img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.type }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
