<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">Drop us a Message of Find Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{site.baseurl}}/img/logos/ippyfil_grande_blue.png" alt="logo" class="img-responsive img-centered logo">
        <ul class="list-inline information-list">
          {% for line in address.line %}
          <li>
            {% if forloop.index == 0 %}
            <i class="fa fa-plus"></i>
            {% endif %}
            <span>{{ line }}</span>
        </li>
          {% endfor %}
          {% for contact in site.contact %}
          <li><i class="fa fa-{{contact.icon}}"></i><span>{{ contact.address }}</span></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-lg-12">
            <form  action="https://formspree.io/f/mrgoropb" id="contactForm" method="POST">
              <div class="row">
                <div class="col-md-12">
                  <div class="control-group form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required data-validation-required-message="Please enter your valid email.">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="control-group form-group">
                    <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                  </div>
                </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                    <input type="submit" value="Send" class="btn btn-xl">
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
