<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-section">
        <img src="{{site.baseurl}}/img/logos/ippyfil_transparent.png" alt="logo" class="img-responsive">
      </div>
      <div class="col-md-2 footer-section">
        <h4 class="title">Links</h4>
        <ul class="list-inline information-list">
          <li class="hidden">
            {% unless page.layout == "shop" %}
               <a href="#page-top"></a>
            {% else %}
               <a href="{{ site.baseurl | prepend: site.url }}"></a>
            {% endunless %}
          </li>
          <li>
            {% unless page.layout == "shop" %}
               <a class="page-scroll" href="#services">Serviços</a>
            {% else %}
               <a href="{{ '#services' | prepend: site.baseurl | prepend: site.url }}">Serviços</a>
            {% endunless %}
          </li>
          <li>
            {% unless page.layout == "shop" %}
               <a class="page-scroll" href="#portfolio">Cervejas</a>
            {% else %}
               <a href="{{ '#portfolio' | site.baseurl | prepend: site.url }}">Cervejas</a>
            {% endunless %}
          </li>
          <li>
            <a  href="{{ 'shop' | prepend: site.baseurl | prepend: site.url }}">Loja</a>
          </li>
          <li>
            {% unless page.layout == "shop" %}
               <a class="page-scroll" href="#about">Sobre</a>
            {% else %}
               <a href="{{ '#about' | site.baseurl | prepend: site.url }}">Sobre</a>
            {% endunless %}
          </li>
          <li>
            {% unless page.layout == "shop" %}
               <a class="page-scroll" href="#team">Equipa</a>
            {% else %}
               <a href="{{ '#team' | site.baseurl | prepend: site.url }}">Equipa</a>
            {% endunless %}
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <h4 class="title">Liga-te à Ippyfil</h4>
        <ul class="list-inline information-list">
          {% for line in address.line %}
          <li>
            {% if forloop.index == 0 %}
            <i class="fas fa-plus"></i>
            {% endif %}
            <span>{{ line }}</span>
        </li>
          {% endfor %}
          {% for contact in site.contact %}
          <li><i class="fas fa-{{contact.icon}}"></i><span>{{ contact.address }}</span></li>
          {% endfor %}
        </ul>
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 footer-section">
        <h4 class="title">Contacta-nos</h4>
        <form  class="row" action="https://formspree.io/f/mrgoropb" id="contactForm" method="POST">
          <div class="control-group form-group col-xs-12">
            <input type="email" name="email" class="form-control" placeholder="Email" required data-validation-required-message="Por favor insira um email válido">
          </div>
          <div class="control-group form-group col-xs-12">
            <textarea name="message" class="form-control" placeholder="Mensagem" required data-validation-required-message="Por favor insira uma mensagem"></textarea>
          </div>
          <div class="col-xs-12">
            <input type="submit" value="Enviar" class="btn btn-primary col-xs-12">
          </div>
        </form>
      </div>
      <hr class="col-md-12">
      <div class="col-md-12 text-center">
        <ul class="list-inline quicklinks">
          <li><a href="#">Politica de Privacidade</a>
          </li>
          <li><a href="#">Termos de Uso</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
