
<section id="intro" class="slim bg-light-gray">
	<div class="container">
		<div class="row">
      <img src="{{site.baseurl}}/img/about/ippyfil_intro.png" alt="intro" class="img-responsive col-xs-12 col-sm-3 col-md-5">
      <div class="col-xs-12 col-sm-9 col-md-7">
        <h2 class="section-heading ">Scientifically Brewed</h2>
        <p class="text-muted-justify"><span class="highlight"><i><b>O nosso lema.</b></i></span> Mas sem paixão, não há caminho para a ciência! Somos um casal apaixonado por cerveja artesanal, que procura utilizar ao máximo possivel ingredientes produzidos de forma sustentável. Com background académico em astrofísica e microbiologia, procuramos inspiração pensando no universo ao mesmo tempo que prestamos atenção aos microorganismos que trabalham connosco na criação de cerveja.</p>
        <p class="text-muted-justify">Aguerridamente <i>craft</i>, erguemos a bandeira deste movimento revolucionário e queremos trazer boa cerveja à vida de cada vez mais portugueses!</p>
      </div>
    </div>
  </div>
</section>