
<section id="intro">
	<div class="container">
		<div class="row">
      <div class="col-lg-12 text-center">
      <h3 class="section-intro text-muted-justify">
<b>Scientifically Brewed:</b> o nosso lema. Mas sem paixão, não há caminho para a ciência. Somos um casal apaixonado por cerveja artesanal, que procura utilzar, o mais possivel ingredientes produzidos de forma sustentavel. Com background académico em astrofísica e microbiologia procuramos inspiação no pensamento do universo ao mesmo tempo que prestamos atenção aos microorganismos que trabalham para nós na criação de cerveja. Aguerridamente <i>craft</i>, erguemos a bandeira deste movimento revolucionário e queremos trazer boa cerveja à vida de cada vez mais portugueses.
</div>
</div>
</div>
</section>