<!-- Portfolio Modals -->
{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 modal-body-container">
          <div class="modal-body">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <div class="row  column-container">
              <div class="col-sm-8">
                <img src="{{site.baseurl}}/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              </div>
              <div class="col-sm-4"> }</p>
                <ul class="list-inline item-details">
                  <li> {{post.description}}
                  <li>Date:
                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                    </strong>
                  <li>Alc/Vol:{{post.alc}
                  <li>IBU:{{post.ibu}
                  <li>EBC:{{post.ebc}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
