<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Serviços</h2>
        <h3 class="section-subheading text-muted">Encontrámos várias maneiras de fazer chegar a nossa cerveja a tua casa, aos teus eventos ou ao teu negócio.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/cegonha1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Compra a nossa cerveja</h4>
        <p class="text-muted-justify">Seja um 6Pack da tua cerveja preferida ou pack variado, é aqui que a tua sede chega ao fim, temos também barris de 19L para o teu bar ou restaurante.</p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/equacao1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Workshops</h4>
        <p class="text-muted-justify">O teu amor é esta bebida, é tanto que que sonhas fazer a tua própria cerveja? Os nossos workshops de cerveja caseira vêm com um pré aviso, quem começa a fazer cerveja em casa arrisca-se a abrir a porta a uma paixão nada transitória. Nós que o digamos! Começámos como homebrewers e nunca mais parámos. No nosso workshop entregamos-te a chave para acederes a este fascinante mundo. Sê bem vindo! </p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/calendario4.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Eventos</h4>
        <p class="text-muted-justify">Procuras uma cerveja única que siga as tuas ideias, para um evento que se quer único e irrepetivel? Lança-nos o desafio - Estamos prontos a desenhar uma receita de acordo com o que procuras, com rótulo à medida, seja em garrafa ou barril. Temos também um sseviço de cerveja  para eventos - levamos-te a máquina e os barris necessários para fazer a festa contigo. Pede-nos um orçamento! 
         </p>
      </div>
    </div>
  </div>
</section>