<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">Aqui podes ver como podemos satisfazer a tua sede</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/cegonha1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Venda de B&B e ao público</h4>
        <p class="text-muted">Venda de cerveja em barril de 19L e garrafas para establecimentos comerciais e directamente ao público</p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/equacao1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Workshops</h4>
        <p class="text-muted">Vem aprender a fazer ceveja connosco. Fazemos workshops à medida seja para quem nunca fez cerveja seja para os mais experientes que querem aprender mais</p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/calendario4.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Cerveja Personalizada para Eventos</h4>
        <p class="text-muted">Fazemos cerveja personalizada para eventos, juntos podemos desenhar a receita e o rótulo para teres uma cerveja à tua medida, seja em garrafas ou barril.</p>
      </div>
    </div>
  </div>
</section>