<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">Here you can find us how we can serve you</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/cegonha1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Selling to B&B and Broad Public</h4>
        <p class="text-muted"> We sell beer in 19L kegs and bottles directly to business and to the broad public.
        </p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/equacao1.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Workshops</h4>
        <p class="text-muted">Come to learn how to brew with us. We do workshops design from you even if you don't have any idea how to brew to experienced homebrewers.</p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}img/logos/calendario4.svg" alt="" width="150" height="150">
        <h4 class="service-heading">Customized beer for events</h4>
        <p class="text-muted">We brew customized beer for events where we design together the recipie perfect for you both in bottles or kegs </p>
      </div>
    </div>
  </div>
</section>