<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">Here you can find us how we can serve you</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Selling to B&B and Broad Public</h4>
        <p class="text-muted"> We sell beer in 19L kegs and bottles directly to business and to the broad public.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Workshops</h4>
        <p class="text-muted">Come to learn how to brew with us. We do workshops design from you even if you don't have any idea how to brew to experienced homebrewers.</p>
      </div>
      <div class="col-md-4">
        <img class="service-logo" src="{{site.baseurl}}/img/logos/calendar_windows.svg" alt="" width="100" height="100">
        <h4 class="service-heading">Cerveja Personalizada para Eventos</h4>
        <p class="text-muted">Fazemos cerveja personalizada para eventos, juntos podemos desenhar a receita e o rótulo para teres uma cerveja à tua medida, seja em garrafas ou barril p</p>
      </div>
    </div>
  </div>
</section>