<!-- Portfolio Modals -->
{% assign shop=site.shop-items | sort:"order" | where:"lang", page.lang %}
{% for item in shop %}
<div class="shop-modal modal fade" id="shopModal-{{ item.item-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-body">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <h2>{{ item.title }}</h2>
      <hr class="star-primary">
      <div class="row">
        <div class="col-sm-6 img-col">
          <img src="{{site.baseurl}}/img/shop/{{ item.img }}" class="img-responsive img-centered" alt="{{ item.alt }}">
        </div>
        <div class="col-sm-6"></p>
          <ul class="list-inline item-details">
            <li> {{item.description}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
